.stat-card {
  @include flex-column;
  gap: 1rem;

  width: 22rem;
  min-height: 7rem;
  padding: 1.25rem;

  background: var(--gradient-surface-shine);
  border: 0.0625rem solid rgb(var(--color-white), 0.1);
  border-radius: 1rem;

  box-shadow: var(--shadow-md);

  transition: var(--transition);

  &:hover {
    transform: translateY(-0.2rem);

    box-shadow: var(--shadow-lg);
  }
}

.stat-card__header {
  @include flex-space-between;
}

.stat-card__title {
  @include flex-center;
  gap: 1rem;
}

.stat-card__header-icon {
  @include flex-center;

  width: 3rem;
  height: 2rem;

  border-radius: 0.75rem;

  background-color: rgb(var(--color-white), 0.1);
  color: rgb(var(--color-white));
  color: rgb(var(--color-muted));
}

.stat-card__header-label {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: rgb(var(--color-muted));
}

.stat-card__value {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  color: rgb(var(--color-white));
}

.stat-card__header-details-icon {
  color: rgb(var(--color-muted));
}

.stat-card__change {
  @include flex-start;

  width: 12rem;
  height: 1.5rem;

  padding-left: 0.5rem;

  background-color: rgb(var(--color-black));
  box-shadow: var(--shadow-md);
  border-radius: 2rem;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-sm);

  color: rgb(var(--color-muted));

  transition: var(--transition);
}

.stat-card__change-icon {
  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;
}

.stat-card__change-icon--positive {
  color: rgb(var(--color-success));
}

.stat-card__change-icon--negative {
  color: rgb(var(--color-danger));
}

.stat-card__change-text {
  font-size: var(--font-size-md);
  white-space: nowrap;
}
