.auth-form {
  @include flex-column-center;
  gap: 1rem;
  width: 30rem;
  height: 35rem;
  border: 0.2rem rgb(var(--color-glass)) solid;
  border-radius: 2rem;
  background-color: rgb(var(--color-glass));
}

.auth-form__form {
  @include flex-column-center;
  gap: 3rem;
  width: 25rem;
  height: 50%;
}
