.button {
  width: 100%;

  border-radius: 0.75rem;

  background-color: rgb(var(--color-glass));
  color: rgb(var(--color-white));

  font-weight: 600;

  transition: var(--transition);

  &:hover,
  &:focus-visible {
    background-color: rgb(var(--color-glass-light));
  }

  &:active {
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-black));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button--sm {
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
}

.button--md {
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
}

.button--lg {
  padding: 1rem 1.25rem;
  font-size: 1rem;
}
