.input {
  @include flex-column;
  gap: 0.5rem;

  width: 100%;
}

.input__label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);

  color: rgb(var(--color-black));
}

.input__wrapper {
  position: relative;

  width: 100%;
}

.input__wrapper--search {
  .input__field {
    padding-left: 2.75rem;
  }
}

.input__search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;

  width: 1rem;
  height: 1rem;

  color: rgb(var(--color-muted));

  pointer-events: none;
  transform: translateY(-50%);
}

.input__field {
  width: 100%;
  padding: 0.75rem 1rem;

  border: 0.0625rem solid rgb(var(--color-white), 0.1);
  border-radius: 0.75rem;

  background-color: rgb(var(--color-white), 0.1);
  color: rgb(var(--color-white));

  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);

  outline: none;

  transition: var(--transition);

  &::placeholder {
    color: rgb(var(--color-muted));
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-md);

    transition: opacity var(--transition);
  }

  &:focus {
    border-color: rgb(var(--color-white), 0.3);
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

.input__error {
  margin: 0;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);

  color: rgb(var(--color-danger));
}
