.interviews-filters {
  @include flex-space-between;
  gap: 1rem;

  flex-shrink: 0;
}

.interviews-filters__search {
  width: 25rem;
  height: 3rem;
}

.interviews-filters-actions {
  @include flex-center;
  gap: 0.5rem;
}
