.bottom-divider {
  border-bottom: 0.1rem solid rgba(var(--color-black), 0.35);
  box-shadow:
    0 0.1rem 0.6rem rgba(var(--color-black), 0.25),
    0 0 0.12rem rgba(var(--color-black), 0.15);
}

.glass-effect {
  background-color: rgb(var(--color-glass));
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
