$breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1280px,
);

$theme: (
  // colors
  color-black: (0, 0, 0),
  color-white: (255, 255, 255),
  color-accent: (139, 92, 246),
  color-glass: (255, 255, 255, 0.08),
  color-glass-light: (255, 255, 255, 0.18),
  color-placeholder: (255, 255, 255, 0.5),
  // gradients
  gradient-dark-light: linear-gradient(
      135deg,
      rgb(0, 0, 0) 0%,
      rgb(35, 35, 35) 50%,
      rgb(255, 255, 255) 100%
    ),
  // utils
  transition: 0.3s ease,

  // shadows
  shadow-sm: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15),
  shadow-md: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25),
  shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.35),
  shadow-white: 0 0 1rem rgba(255, 255, 255, 0.1),
  // typography
  font-family: 'Manrope' sans-serif,
  font-size-xs: 0.75rem,
  font-size-sm: 0.875rem,
  font-size-md: 1rem,
  font-size-lg: 1.125rem,
  font-size-xl: 1.25rem,
  font-size-2xl: 1.5rem,
  font-size-3xl: 2rem,
  font-size-4xl: 2.5rem,

  font-weight-extralight: 200,
  font-weight-light: 300,
  font-weight-regular: 400,
  font-weight-medium: 500,
  font-weight-semibold: 600,
  font-weight-bold: 700,
  font-weight-extrabold: 800,

  line-height-sm: 1.2,
  line-height-md: 1.5,
  line-height-lg: 1.6
);
