.topbar {
  @include flex-space-between;
  gap: 1rem;

  width: 100%;
  min-height: 3.5rem;
  padding: 0.75rem 1.5rem;

  background: var(--gradient-surface-shine);

  border: 0.0625rem solid rgb(var(--color-white), 0.1);
  border-radius: 1rem;

  box-shadow: var(--shadow-sm);

  transition: var(--transition);

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

.topbar__brand {
  @include flex-center;
  gap: 0.75rem;
}

.topbar__brand-icon {
  @include flex-center;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 0.75rem;

  background-color: rgb(var(--color-accent), 0.15);
  color: rgb(var(--color-accent));
}

.topbar__brand-name {
  color: rgb(var(--color-white));

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-extrabold);
  line-height: var(--line-height-md);

  white-space: nowrap;
}

.topbar__page {
  @include flex-start;
  gap: 0.5rem;
}

.topbar__page-dot {
  width: 0.5rem;
  height: 0.5rem;

  border-radius: 50%;

  background-color: rgb(var(--color-accent));
}

.topbar__page-name {
  color: rgb(var(--color-muted));

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-md);

  white-space: nowrap;
}

.topbar__user {
  @include flex-center;
  gap: 0.75rem;

  padding: 0.375rem 1rem;

  border: 0.0625rem solid rgb(var(--color-white), 0.1);
  border-radius: 2rem;

  background-color: rgb(var(--color-black));
  box-shadow: var(--shadow-sm);
}

.topbar__user-icon {
  width: 1rem;
  height: 1rem;

  color: rgb(var(--color-muted));
}

.topbar__user-name {
  color: rgb(var(--color-white));

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);

  white-space: nowrap;
}