.pagination {
  @include flex-center;
  gap: 1rem;
}

.pagination__button {
  width: 10rem;
  height: 1.2rem;
}

.pagination__text {
  font-size: var(--font-size-md);
  line-height: var(--line-geight-md);
  font-weight: var(--font-weight-regular);
}
