.interviews-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  flex-shrink: 0;
}

.interviews-stats__item {
  @include flex-column;
  gap: 0.5rem;

  padding: 1.25rem;

  border: 0.0625rem solid rgb(var(--color-white), 0.08);
  border-radius: 1rem;

  background-color: rgb(var(--color-white), 0.04);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  box-shadow: var(--shadow-md);

  transition: var(--transition);

  &:hover {
    background-color: rgb(var(--color-white), 0.055);
  }
}

.interviews-stats__label {
  color: rgb(var(--color-muted));
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
}

.interviews-stats__value {
  color: rgb(var(--color-white));
  font-size: 1.75rem;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-sm);
}

